.photo {
    height: auto;
    width: auto;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#map {
    position: relative;
    outline-style: none;
    min-height: 300px;
}
