.photo {
    height: auto;
    width: 700px;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#map {
    z-index: 0;
    position: relative;
    outline-style: none;
    min-height: 333px;
    min-width: 333px;
}
