@font-face {font-family: CascadiaCode; src: url('/assets/CascadiaCode.ttf');}

body {
    overflow-x: hidden;
    background-color: black;
    color: aliceblue;
    font-family: CascadiaCode;
    text-shadow: 0 0 5px #C8C8C8;
}

a {
    text-decoration: none;
    color:grey;
}

a:hover {
    color:white;
}

#username {
  position: fixed;
  bottom: 0;
  right: 0;
}

#home {
  position:fixed;
  bottom:0;
  left:0;
}